In [1]:
import os
import pandas as pd

## Read Data

In [2]:
files_dir = './dataset/raw'
file_names = os.listdir(files_dir)
file_paths = [os.path.join(files_dir, fname) for fname in file_names]

In [3]:
pd_records_list = []

for fpath in file_paths:
    pd_record = pd.read_excel(fpath)
    pd_records_list.append(pd_record)

In [4]:
pd_record = pd.concat(pd_records_list)

## Data Analysis

In [5]:
pd_record

,month,date,start time,end time,latitude,longitude,user id
0,201410,1,2014-10-01 13:30:00,2014-10-01 13:40:11,NaN,NaN,c25cda01110b1879b78af0281fa93704
1,201410,1,2014-10-01 09:22:09,2014-10-01 12:20:24,NaN,NaN,1f36736faf2ad3362b1803ddf9552646
2,201410,1,2014-10-01 17:35:07,2014-10-01 17:35:47,NaN,NaN,c25cda01110b1879b78af0281fa93704
3,201410,1,2014-10-01 14:07:43,2014-10-01 17:00:35,NaN,NaN,c25cda01110b1879b78af0281fa93704
4,201410,1,2014-10-01 17:10:14,2014-10-01 17:20:27,NaN,NaN,c25cda01110b1879b78af0281fa93704
...,...,...,...,...,...,...,...
562774,201409,15,2014-09-15 09:42:44,2014-09-15 09:44:39,NaN,NaN,1414277370ad36354f67b7b833c2e225
562775,201409,15,2014-09-15 13:57:53,2014-09-15 14:01:26,NaN,NaN,1414277370ad36354f67b7b833c2e225
562776,201409,15,2014-09-15 06:48:47,2014-09-15 06:49:31,NaN,NaN,1414277370ad36354f67b7b833c2e225
562777,201409,15,2014-09-15 07:27:02,2014-09-15 07:27:19,NaN,NaN,1414277370ad36354f67b7b833c2e225
562778,201409,15,2014-09-15 07:25:47,2014-09-15 07:26:08,NaN,NaN,1414277370ad36354f67b7b833c2e225

## All

In [6]:
pd_record_all = pd_record.dropna()

In [7]:
pd_record_all['address'] = pd_record_all.apply(lambda x: str(x['latitude']) + '-' + str(x['longitude']), axis=1)

C:\Users\igh_8\AppData\Local\Temp\ipykernel_6968\218630576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pd_record_all['address'] = pd_record_all.apply(lambda x: str(x['latitude']) + '-' + str(x['longitude']), axis=1)

In [8]:
pd_record_all.to_csv(f'./dataset/data_all.csv')

In [9]:
base_stations = pd_record_all[['latitude', 'longitude', 'address']].drop_duplicates()

In [10]:
base_stations = base_stations.reset_index()
base_stations['id'] = base_stations.index
base_stations.drop(['index'], axis=1)

       latitude   longitude               address    id
0     31.237872  121.470259  31.237872-121.470259     0
1     31.246946  121.513919  31.246946-121.513919     1
2     31.232877  121.487530   31.232877-121.48753     2
3     31.232548  121.478971  31.232548-121.478971     3
4     31.227933  121.453610   31.227933-121.45361     4
...         ...         ...                   ...   ...
3037  31.199450  121.434169   31.19945-121.434169  3037
3038  31.224268  121.482064  31.224268-121.482064  3038
3039  31.218517  121.477878  31.218517-121.477878  3039
3040  31.202376  121.434660   31.202376-121.43466  3040
3041  31.405917  121.474805  31.405917-121.474805  3041

[3042 rows x 4 columns]

In [11]:
base_stations.to_csv('./dataset/base_stations_all.csv')

## Min

In [12]:
pd_record_min =  pd_records_list[0]

In [13]:
pd_record_min = pd_record_min.dropna()
pd_record_min['address'] = pd_record_min.apply(lambda x: str(x['latitude']) + '-' + str(x['longitude']), axis=1)
pd_record_min.to_csv(f'./dataset/data_min.csv')

C:\Users\igh_8\AppData\Local\Temp\ipykernel_6968\1641723281.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pd_record_min['address'] = pd_record_min.apply(lambda x: str(x['latitude']) + '-' + str(x['longitude']), axis=1)

In [14]:
base_stations_min = pd_record_min[['latitude', 'longitude', 'address']].drop_duplicates()

In [15]:
base_stations_min = base_stations_min.reset_index()
base_stations_min['id'] = base_stations_min.index
base_stations_min.drop(['index'], axis=1)

       latitude   longitude               address    id
0     31.237872  121.470259  31.237872-121.470259     0
1     31.246946  121.513919  31.246946-121.513919     1
2     31.232877  121.487530   31.232877-121.48753     2
3     31.232548  121.478971  31.232548-121.478971     3
4     31.227933  121.453610   31.227933-121.45361     4
...         ...         ...                   ...   ...
2619  31.254745  121.556081  31.254745-121.556081  2619
2620  31.216651  121.604749  31.216651-121.604749  2620
2621  31.191178  121.466480   31.191178-121.46648  2621
2622  31.295646  121.498045  31.295646-121.498045  2622
2623  31.307814  121.504168  31.307814-121.504168  2623

[2624 rows x 4 columns]

In [16]:
base_stations_min.to_csv('./dataset/base_stations_min.csv')